#display{
    border: 1px solid red;
    display: none;
    visibility: hidden;
}

.display{
    border: 1px solid red;
    width: 50%;
    height: 100px;
    display: inline;
    display: inline-block;
}